<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbvhuwe.explorergithub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.UserActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.RepoActivity"
            android:label="@string/repo_activity_label"
            android:parentActivityName=".ui.UserActivity" />
        <activity
            android:name=".ui.FileActivity"
            android:label="@string/file_activity_label"
            android:parentActivityName=".ui.FileActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.hbvhuwe.explorergithub"
                    android:scheme="login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>